:root {
	--accent-hue: 0deg;
	--accent-saturation: 0%;
	--accent-lightness: 25%;


	/* experimental darkness */
	--accent-color: hsl(0 0% 18%);
	--bd-clr: hsl(0 0% 0% / 90%);
	--bg-clr: hsl(0, 0%, 100%);
	--btm-grad: transparent;
	--brdr-clr-1: hsl(0, 0%, 80%);
	--brdr-clr-2: hsl(0, 0%, 80%);
	--game-box-clr: hsl(0 0% 98%);
	--odd-cmnt-clr: hsl(0 0% 95%);
	--txt-clr: hsl(0 0% 18%);
	--txt-clr-tinted: var(--txt-clr);
	--txt-clr-tinted-2: var(--txt-clr);
	--stat-val-clr: var(--txt-clr);

	--background-color: hsl(0 0% 100%);
	--border-color: hsl(0 0% 80%);
	--link-color: hsl(205 73% 44%);
	--nav-color: hsl(0, 0%, 25%);
	--primary-color: hsl(0, 0%, 18%);
	--secondary-color: hsl(0 0% 35%);
	--text-color: hsl(0 0% 18%);
}

.header {
	background-color: var(--primary-color) !important;
	background-image: none !important;
}

.left-nav-profile, .home-page .slick-dots .slick-active button { background-color: var(--secondary-color) !important }
.left-nav-small, .left-navigation, .left-nav-item-small.left-nav-item-small-dropdown ul {
	background-color: var(--nav-color) !important;
	border-color: var(--primary-color);
}

.left-nav-item, .left-nav-item-small { border-color: var(--nav-color) !important }
.left-navigation :is(a:active:not(:hover), a:link:not(:hover), a:visited:not(:hover)) { color: var(--border-color) !important }
.left-nav-item.active, .left-nav-item:hover, .left-nav-item-small.active, .left-nav-item-small.left-nav-item-small-dropdown, .left-nav-item-small:hover, .left-nav-item-small.left-nav-item-small-dropdown ul li.active, .left-nav-item-small.left-nav-item-small-dropdown ul li:hover {
	background-color: hsl(0 0% 0% / 12.5%) !important;
	border-bottom-color: var(--primary-color) !important;
	border-top-color: var(--primary-color) !important;
}

.left-nav-profile .left-nav-profile-bottom .stat {
	background-color: transparent !important;
	border: none !important;
}

.tab-container { background-image: none !important }
.tab-container :is(.tab-entry.active, .tab-entry.active:hover),
.track-page .track-about-box .tab_buttons-container :is(li.active, li.active:hover) {
	background-color: hsl(0 0% 0% / 25%);
	background-image: none !important;
}

.track-page .track-about-panel.main .track-rating .rating-bar .rating-bar_inner { background-color: var(--link-color) !important }
.track-page .track-about-panel.main :is(.track-rating .track-rating-percent, .track-stats div .num),
.trackTile .bottom .author { color: var(--link-color) !important }

.home-page .home-banner, .trackTile .viewAll {
	background-color: hsl(0 0% 0% / 20%);
	background-image: none !important;
}

.home-page .home-banner .tableWrap .text { color: hsl(0 0% 50% / 90%) !important }
.home-page .home-banner:hover, .leaderboard-page .leaderboard-table .leaderboard-title select:hover, .tab-container .tab-entry:hover, .trackTile .viewAll:hover {
	background-color: hsl(0 0% 0% / 10%);
	background-image: none !important;
}

.core_icons.core_icons-icon_close,
.menu_icons:hover,
.profile-tabs .tab_buttons .core_icons,
.track-page .track-about-box :is(.tab_buttons-container li span.track-tab-icon, .track-rate div.track-rate-button),
.trackList .slider .slick-nav-btn span.core_icons,
.trackTile .viewAll .icon-arrow-right { filter: saturate(0) }