:root {
	/* experimental darkness */
	--accent-clr: hsl(225 20% 75%);
	--bd-clr: hsl(225 20% 8% / 90%);
	--bg-clr: hsl(225 20% 8%);
	--btm-grad: hsl(225 20% 5% / 50%);
	--brdr-clr-1: hsl(225 20% 10%);
	--brdr-clr-2: hsl(225 20% 15%);
	--game-box-clr: hsl(225 20% 6%);
	--odd-cmnt-clr: hsl(225 20% 5%);
	--txt-clr: hsl(225 20% 80%);
	--txt-clr-tinted: hsl(225 20% 78%);
	--txt-clr-tinted-2: hsl(225 20% 78%);
	--stat-val-clr: hsl(205.33deg 29.41% 60%);
	color-scheme: dark
}

.top > :is(.preview, .thumb), .track-list-tile-thumb { filter: invert(.9) brightness(.9) }